<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e0a3ff3a-53b2-46e2-84f3-ffc7efcba4a9" Publisher="CN=Lars" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SharePointAdvent</DisplayName>
    <PublisherDisplayName>Lars</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SharePointAdvent.App">
      <VisualElements DisplayName="SharePointAdvent" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SharePointAdvent" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>